.nav-link{
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.nav-link:hover{
    background-color: red;
    border-radius: 50%;
    color: black;
}

.card-body{
    text-align: center;
}

.latest{
    text-align: center;
    padding: 8px;
    font-weight: bold;
}

.newier{
    width: 110px;
    border-radius: 15%;
}